*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    color: #333333;
}

a{
    text-decoration: none;
    color: #4183C4;
}

.clear{
    clear: both;
}

.head-container{
    padding: 120px 48px;
    background: url("images/Gradient_Map_1.png") bottom/cover no-repeat;
}

.head-container-title-one{
    text-align: center;
    color: white;
    font-size: 48px;
}

.main-container-content{
    max-width: 926px;
    margin: 0 auto;
    padding: 0 48px;
}

.main-container-title-two{
    font-size: 30px;
    font-weight: normal;
    margin-top: 28px;
}

.main-content-one{
    font-size: 16px;
    margin-top: 32px;
}

.main-content-data{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.main-content-two{
    font-size: 16px;
    padding: 1em 0;
    line-height: 24px;
}

.main-container-title-three{
    margin-top: 47px;
    font-size: 24px;
    font-weight: normal;
    color: #325D72;
    padding-bottom: 3px;
    border-bottom: 1px solid #DDDDDD;
}

.main-content-three{
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
}

.footer-container{
    margin-top: 61px;
    padding: 31px 0 77px 0;
    background-color: #F5F5F5;
    border-top: 1px  solid #DDDDDD;
}

.footer-copy{
    float: left;  
    font-size: 14px;
    color: #BEBEBE;
}

.footer-content{
    float: right;
    font-size: 14px;
}

.footer-content a{
    margin-left: 1em;
}